<h3 class="heading">About Me</h3>
<div class="about-flex-container">
  <div class="about-content-container">
    <div>
      <p>
        I have a passion for creating exceptional web applications with a strong
        detail-focused orientation. I enjoy translating great designs into
        pixel-perfect components that are clean and efficient behind the scenes.
      </p>
      <p>
        After graduating from
        <a
          href="https://www.mdx.ac.uk/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >Middlesex University</a
        >
        in 2016, I have been working closely with cross-functional Agile teams
        that include UX designers, Back-End developers, QA engineers and project
        stakeholders to create intuitive and accessible web experiences,
        acquiring a track record of delivering tools that have an impact on
        users lives in the process.
      </p>
      <p>Here's a few things I currently love to work with:</p>
    </div>
    <ul class="skills-container">
      <li class="about-skill">Javascript (ES6+)</li>
      <li class="about-skill">React</li>
      <li class="about-skill">NextJs</li>
      <li class="about-skill">Redux</li>
      <li class="about-skill">NodeJs</li>
      <li class="about-skill">styled-components</li>
      <li class="about-skill">Webpack</li>
      <li class="about-skill">GraphQL & Apollo</li>
    </ul>
  </div>
  <div class="about-pic-container">
    <div class="about-avatar-container">
      <div class="about-avatar">
        <div style="width: 100%; padding-bottom: 100%"></div>
        <img src="assets/andre_ferreira.jpg" />
      </div>
    </div>
  </div>
</div>
