<h3 class="heading">About Me</h3>
<div class="about-flex-container">
  <div class="about-content-container">
    <div>
      <p>
        I'm a front-end developer who enjoys building things that live on the
        internet. I develop exceptional websites and web apps that provide
        intuitive, pixel-perfect user interfaces while being clean and efficient
        behind the scenes.
      </p>
      <p>
        After graduating from
        <a
          href="https://www.mdx.ac.uk/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >Middlesex University</a
        >
        in 2017, I joined the development team at
        <a
          href="https://talenteam.com/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >TalenTeam</a
        >
        where I've continued improving my skills. Now working at
        <a
          href="https://www.delaware.co.uk/en-gb/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >delaware</a
        >
        , I enjoy constantly learning the many new technologies that power the
        web!
      </p>
      <p>Here's a few things I love to work with:</p>
    </div>
    <ul class="skills-container">
      <li class="about-skill">Javascript (ES6)</li>
      <li class="about-skill">HTML5 & CSS3</li>
      <li class="about-skill">Angular 2+</li>
      <li class="about-skill">Node.Js</li>
      <li class="about-skill">Typescript</li>
      <li class="about-skill">REST APIs</li>
      <li class="about-skill">Bootstrap 4</li>
      <li class="about-skill">jQuery</li>
    </ul>
  </div>
  <div class="about-pic-container">
    <div class="about-avatar-container">
      <div class="about-avatar">
        <div style="width: 100%; padding-bottom: 100%"></div>
        <img src="assets/andre_ferreira.jpg" />
      </div>
    </div>
  </div>
</div>
