h3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  margin: 10px 0px 40px;
}
h3::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-weight: normal;
  color: rgb(152, 127, 209);
  font-size: 20px;
  position: relative;
  bottom: -5px;
}
h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 300px;
  background-color: rgb(152, 127, 209);
  position: relative;
  top: 5px;
  margin-left: 20px;
}
.about-flex-container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
}
.about-content-container {
  width: 60%;
}
.about-content-container p {
  margin: 0px 0px 15px;
  font-family: 'Lato', sans-serif;
}
.about-content-container a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  color: rgb(152, 127, 209);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.about-content-container a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  background-color: rgb(152, 127, 209);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.about-content-container a:hover::after {
  width: 100%;
}
.skills-container {
  display: grid;
  grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
  margin-top: 20px;
  overflow: hidden;
}
.skills-container .about-skill {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
  color: black;
}
.skills-container .about-skill::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: rgb(152, 127, 209);
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}
.about-pic-container {
  position: relative;
  width: 40%;
  max-width: 300px;
  margin-left: 60px;
}
.about-avatar-container {
  width: 100%;
  position: relative;
  margin-left: -20px;
  border-radius: 2px;
}
.about-avatar-container::before {
  top: 6%;
  left: 6%;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(152, 127, 209);
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.about-avatar-container:hover::before {
  top: 3%;
  left: 3%;
}
.about-avatar {
  filter: grayscale(100%) contrast(1);
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.about-avatar:hover {
  filter: none;
}
.about-avatar img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

/*MEDIA SCREENS*/
@media only screen and (max-width: 479px) {
  :host {
    padding-top: 80px !important;
    padding-bottom: 60px !important;
  }
  h3 {
    font-size: 18px;
  }
  h3::after {
    margin-left: 10px;
  }
  .skills-container .about-skill {
    font-size: 13px;
  }
  .about-pic-container {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
  h3::before {
    font-size: 18px;
  }
  h3::after {
    width: 100%;
  }
  .about-flex-container {
    display: block;
  }
  .about-content-container {
    width: 100%;
  }
  .about-pic-container {
    margin: 60px auto 0px;
  }
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) {}
