<h5 [@fadeInUp]="hi" class="hero-hi">Hello, my name is</h5>
<h1 [@fadeInUp]="name" class="hero-name">Andre Ferreira.</h1>
<h2 [@fadeInUp]="subtitle" class="hero-subtitle">
  I like to build things for the web.
</h2>
<div [@fadeInUp]="blurb" class="hero-blurb">
  <p>
    I'm a Front-End developer based in <b>London</b> specialised in high
    quality, mobile-first API driven web applications.
  </p>
</div>
<div [@fadeInUp]="button" class="hero-button">
  <a href="mailto:hello@andreferreira.tech" class="hero-email">Get In Touch!</a>
</div>
