<h5 [@fadeInUp]="hi" class="hero-hi">Hi, my name is</h5>
<h1 [@fadeInUp]="name" class="hero-name">Andre Ferreira.</h1>
<h2 [@fadeInUp]="subtitle" class="hero-subtitle">I build things for the web.</h2>
<div [@fadeInUp]="blurb" class="hero-blurb">
  <p>I'm a front-end based in <b>London</b> and specialised in developing high quality, mobile-first API driven web applications.
    Currently working at <b>delaware</b> as an SAP UI5 Developer.</p>
</div>
<div [@fadeInUp]="button" class="hero-button">
  <a href="mailto:ferreirandre25@gmail.com" class="hero-email">Get In Touch</a>
</div>
