h3 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 36px;
  margin: 10px 0px 40px;
}
h3::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  font-weight: normal;
  color: rgb(111, 111, 252);
  font-size: 20px;
  position: relative;
  bottom: -5px;
}
h3::after {
  content: "";
  display: block;
  height: 2px;
  max-width: 300px;
  background-color: rgb(111, 111, 252);
  position: relative;
  top: 5px;
  margin-left: 20px;
}

.job-title {
  font-size: 22px;
  margin: 0 0 5px;
}
.job-company {
  color: rgb(111, 111, 252);
}
.job-company a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.job-company a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  background-color: rgb(111, 111, 252);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.job-company a:hover::after {
  width: 100%;
}
.job-time {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: rgb(111, 111, 252);
  margin: 10px 0 20px;
}
.tab-content ul {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: 'Lato', sans-serif;
}
.tab-content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.tab-content ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: rgb(111, 111, 252);
  line-height: 20px;
}
/*MEDIA SCREENS*/
@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
  h3::before {
    font-size: 18px;
  }
  h3::after {
    width: 100%;
  }
  .tabs-container {
    display: block;
  }
}

@media only screen and (max-width: 479px) {
  :host {
    padding-top: 80px !important;
    padding-bottom: 20px !important;
  }
  h3 {
    font-size: 18px;
  }
  h3::after {
    margin-left: 10px;
  }
}
