<h3 class="heading">Were I've Worked</h3>
<div class="tabs-container">
  <app-tabs>
    <app-tab class="tab-content" tabTitle="MaPS">
      <h4 class="job-title">
        <span>Front-End Developer</span>
        <span class="job-company">
          &nbsp;@&nbsp;
          <a
            href="http://delaware.pro/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Money and Pensions Service</a
          >
        </span>
      </h4>
      <h5 class="job-time">
        <span>Apr 2019 - Present</span>
      </h5>
      <div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </app-tab>
    <app-tab class="tab-content" tabTitle="delaware">
      <h4 class="job-title">
        <span>SAP UI5 Developer</span>
        <span class="job-company">
          &nbsp;@&nbsp;
          <a
            href="http://delaware.pro/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >delaware UK</a
          >
        </span>
      </h4>
      <h5 class="job-time">
        <span>Sep 2018 - Mar 2019</span>
      </h5>
      <div>
        <ul>
          <li>
            Develop enterprise solutions and digital platforms centered around
            the SAP product stack (HANA, S/4, SAP Cloud Platform) as part of the
            SAP consulting team
          </li>
          <li>
            Build, configure and enhance standard SAP business applications
          </li>
          <li>
            Design and create engaging new user interfaces and develop custom
            business intelligence platforms with SAP Fiori and SAP UI5
          </li>
          <li>
            Collaborate with clients to identify and design the right solutions
            and successfully see these through the entire project life-cycle
          </li>
          <li>
            Work closely with the consulting and development teams on SAP
            implementation projects from start to finish, remotely and at client
            site
          </li>
        </ul>
      </div>
    </app-tab>
    <app-tab class="tab-content" tabTitle="TalenTeam">
      <h4 class="job-title">
        <span>SAP Technical Consultant</span>
        <span class="job-company">
          &nbsp;@&nbsp;
          <a
            href="https://www.talenteam.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >TalenTeam</a
          >
        </span>
      </h4>
      <h5 class="job-time">
        <span>Feb 2017 - Aug 2018</span>
      </h5>
      <div>
        <ul>
          <li>
            Created SAP SuccessFactors Fiori extensions using SAPUI5 and SAP
            Cloud Platform tools such as SAP Web IDE for development and SAP
            Build for prototyping
          </li>
          <li>
            Developed and maintained code for in-house and web applications
            primarily using HTML, XML, JavaScript, and jQuery
          </li>
          <li>Managed and developed the company’s website using WordPress</li>
          <li>
            Manually tested sites in various browsers and mobile devices to
            ensure cross-browser compatibility and responsiveness
          </li>
          <li>Other multiple technical tasks in-house</li>
        </ul>
      </div>
    </app-tab>
    <app-tab
      id="middlesexUni"
      class="tab-content"
      tabTitle="Middlesex University"
    >
      <h4 class="job-title">
        <span>Student Learning Assistant</span>
        <span class="job-company">
          &nbsp;@&nbsp;
          <a
            href="https://www.mdx.ac.uk/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Middlesex University</a
          >
        </span>
      </h4>
      <h5 class="job-time">
        <span>Oct 2015 - Apr 2016</span>
      </h5>
      <div>
        <ul>
          <li>Assisted senior lecturer on the File Systems Analysis Module</li>
          <li>
            Enhanced student academic performance by facilitating learning
            either in classes or 1-on-1 sessions
          </li>
          <li>Reported monthly documented reflections</li>
        </ul>
      </div>
    </app-tab>
  </app-tabs>
</div>
