:host {
  padding-top: 80px !important;
  padding-bottom: 20px !important;
}
h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 36px;
  margin: 10px 0px 40px;
}
h3::before {
  content: "03.1";
  margin-right: 10px;
  font-weight: normal;
  color: rgb(111, 111, 252);
  font-size: 20px;
  position: relative;
  bottom: -5px;
}
h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 30%;
  max-width: 300px;
  background-color: rgb(111, 111, 252);
  position: relative;
  top: 5px;
  margin-left: 20px;
}
.repos-container .repos-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 15px 15px;
}
.repo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  height: 100%;
  background-color: black;
  padding: 25px;
  border-radius: 2px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.repo-inner:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 2px 10px 0px black;
  box-shadow: 2px 2px 10px 0px black;
}
.repo-inner .repo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
}
.repo-header .repo-folder {
  color: white;
}
.repo-header .repo-folder svg {
  width: 40px;
  height: 40px;
  fill: currentcolor;
  vertical-align: middle;
}
.repo-header .repo-link {
  margin-right: -10px;
  color: rgb(111, 111, 252);
}
.repo-header .repo-link a {
  padding: 10px;
}
.repo-header .repo-link svg {
  width: 30px;
  height: 30px;
  fill: currentcolor;
  vertical-align: middle;
}
.repo-header .repo-link svg:hover {
  fill: white;
}
.repo-inner .repo-name {
  font-size: 22px;
  color: white;
  margin: 0px 0px 10px;
}
.repo-inner .repo-description {
  font-size: 17px;
  color: white;
  font-family: 'Lato', sans-serif;
}
.repo-inner .repo-languages {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.repo-inner .repo-languages li {
  font-size: 14px;
  color: rgb(111, 111, 252);
  line-height: 1.75;
  margin-right: 15px;
}
.projects-show {
  color: white;
  background-color: black;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin: 50px auto 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(111, 111, 252);
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
  border-radius: 2px;
  padding: 16px 23px;
}
.projects-show:hover {
  color: white;
  background-color: rgb(111, 111, 252);
}
/*MEDIA SCREENS*/

@media only screen and (min-width: 991px) {
  .repos-container .repos-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
  h3::before {
    font-size: 18px;
  }
  h3::after {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  h3 {
    font-size: 18px;
  }
  h3::after {
    margin-left: 10px;
  }
  .repo-inner .repo-name {
    font-size: 18px;
  }
  .repo-inner .repo-description {
    font-size: 14px;
  }
}
