<div class="contact-container">
  <h3 class="contact-heading">What's next?</h3>
  <h4 class="contact-title">Get In Touch</h4>
  <div>
    <p>
      Although I'm not currently looking for any freelance opportunities, my
      inbox is always open. <br />Whether for a potential project or just to say
      hi, I'll try my best to answer your email!
    </p>
  </div>
  <a
    href="mailto:hello@andreferreira.tech"
    target="_blank"
    rel="nofollow noopener noreferrer"
    class="contact-email"
    >Say Hello</a
  >
</div>
<app-footer></app-footer>
