header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: fixed;
  top: 0px;
  background-color: black;
  z-index: 11;
  width: 100%;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-filter: none !important;
          filter: none !important;
  pointer-events: auto !important;
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
  padding: 10px 5%;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  color: white;
}
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  counter-reset: item 0;
  position: relative;
  z-index: 12;
}
nav .header-burger {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  background-color: transparent;
  display: none;
  overflow: visible;
  margin: 0px -12px 0px 0px;
  padding: 15px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
}
nav .header-burger-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 24px;
}
nav .header-burger-inner {
  background-color: white;
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 0px;
  right: 0px;
  -webkit-transition-duration: 0.22s;
       -o-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  border-radius: 2px;
}
nav .header-burger-inner.open {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
nav .header-burger-inner::before,
nav .header-burger-inner::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  left: auto;
  right: 0px;
  width: 30px;
  height: 2px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border-radius: 4px;
}
nav .closed::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;
  -o-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;
}
nav .closed::after {
  width: 80%;
  bottom: -10px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  -o-transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}
nav .open::before {
  width: 100%;
  top: 0px;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0.12s;
  -o-transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0.12s;
}
nav .open::after {
  width: 100%;
  bottom: 0px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out 0s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out 0s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -o-transition: bottom 0.1s ease-out 0s, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out 0s, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.1s ease-out 0s, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
nav .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
nav .header-logo > .header-logo-link {
  color: white;
  width: 42px;
  height: 42px;
}
nav .header-logo > .header-logo-link svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  stroke: currentColor;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
nav .header-logo > .header-logo-link svg:hover {
  fill: rgb(111, 111, 252);
  stroke: rgb(111, 111, 252);
}
nav > .header-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
nav .header-nav-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
nav .header-nav-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
nav .header-nav-list .header-nav-list-item {
  -webkit-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  counter-increment: item 1;
  margin: 0px 10px;
}
nav .header-nav-list .header-nav-list-item::before {
  content: "0" counter(item) ".";
  text-align: right;
  color: rgb(111, 111, 252);
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
nav .header-nav-list .header-nav-list-item > a {
  display: inline-block;
  padding: 12px 10px;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
nav .header-nav-list .header-nav-list-item > a:hover {
  color: rgb(111, 111, 252);
}
nav .resume-button > a {
  color: white;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(111, 111, 252);
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
  border-radius: 2px;
  padding: 12px 17px;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
}
nav .resume-button > a:hover {
  background-color: rgb(111, 111, 252);
}
header .slider-menu-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.slider-menu-container .slider-menu {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.header-slider-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}
.header-slider-list .header-slider-list-item {
  position: relative;
  font-size: 20px;
  counter-increment: item 1;
  margin: 0px auto 20px;
}
.header-slider-list .header-slider-list-item::before {
  display: block;
  content: "0" counter(item) ".";
  color: rgb(111, 111, 252);
  font-size: 15px;
  margin-bottom: 5px;
}
.header-slider-list .header-slider-list-item a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 3px 20px 20px;
}
.slider-menu .resume-button {
  color: rgb(111, 111, 252);
  background-color: transparent;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(111, 111, 252);
  -webkit-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 18px 50px;
}
.slider-menu .resume-button:hover {
  color: white;
  background-color: rgb(111, 111, 252);
}
/*MEDIA SCREENS*/
@media only screen and (max-width: 479px) {
  nav .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .header-nav-links {
    display: none;
  }
  header .slider-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    width: 100%;
  }
  .header-slider-list .header-slider-list-item a {
    padding: 0 0 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .header-nav-links {
    display: none;
  }
  header .slider-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    width: 60%;
  }
}
