.loading-background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.svg-container {
  display: block;
}
.path {
  stroke-dasharray: 2555;
  stroke-dashoffset: 2555;
}
.animate-path {
  -webkit-animation: dash 2.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal forwards;
          animation: dash 2.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal forwards;
}
/*dash animation*/
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 2555;
    fill: white;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
    stroke-width: 2;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 2555;
    fill: white;
  }
  70% {
    stroke-dashoffset: 0;
    fill: white;
    stroke-width: 7;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
    stroke-width: 4;
  }
}
/*zoom out animation*/
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes zoomout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
