/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700');
html {
  box-sizing: border-box;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  font-size: 18px;
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}
a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
p {
  margin: 0px 0px 15px;
}
ul, ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
svg {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.blur {
  overflow: hidden !important;
}
.blur main, .blur app-hero {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 18px;
  }
}
